# https://artifacthub.io/packages/helm/headlamp/headlamp

config:
  oidc:
    secret:
      create: false
    externalSecret:
      enabled: true
      name: headlamp-oidc-secrets

env:
  - name: OIDC_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: headlamp-oidc-secrets
        key: clientID
  - name: OIDC_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        name: headlamp-oidc-secrets
        key: clientSecret
  - name: OIDC_ISSUER_URL
    valueFrom:
      secretKeyRef:
        name: headlamp-oidc-secrets
        key: issuerURL
  - name: OIDC_SCOPES
    valueFrom:
      secretKeyRef:
        name: headlamp-oidc-secrets
        key: scopes
