---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: authentik
  namespace: authentik
spec:
  defaultBackend:
    service:
      name: authentik-server
      port:
        number: 80
  ingressClassName: tailscale
  tls:
    - hosts:
        - authentik
