controllers:
  main:
    containers:
      main:
        # ghcr.io/immich-app/immich-server
        image:
          tag: v2.2.1
        env:
          REDIS_HOSTNAME: valkey
          IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
          DB_URL:
            valueFrom:
              secretKeyRef:
                name: immich-db-cluster-superuser
                key: fqdn-uri
          DB_VECTOR_EXTENSION: vectorchord
          DB_STORAGE_TYPE: SSD

immich:
  persistence:
    library:
      existingClaim: immich-media-pvc
