# https://github.com/immich-app/immich-charts
controllers:
  main:
    containers:
      main:
        # ghcr.io/immich-app/immich-server
        image:
          tag: v2.2.1
        env:
          REDIS_HOSTNAME: valkey
          IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'
          DB_HOSTNAME:
            valueFrom:
              secretKeyRef:
                name: immich-db-cluster-superuser
                key: host
          # Need superuser because the immich server tries to enable the
          # vectorchord extension on startup which requires superuser
          # privileges.
          DB_USERNAME:
            valueFrom:
              secretKeyRef:
                name: immich-db-cluster-superuser
                key: username
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-db-cluster-superuser
                key: password
          DB_DATABASE_NAME:
            valueFrom:
              secretKeyRef:
                name: immich-db-cluster-app
                key: dbname
          DB_SSL_MODE: require
          DB_VECTOR_EXTENSION: vectorchord
          DB_STORAGE_TYPE: SSD

immich:
  persistence:
    library:
      existingClaim: immich-media-pvc
